<div class="question-slider">
  <div class="img-slider-container">

    <div class="img-comp">
      <img src="{{this.linkA}}">

      <div class="label-right" style="opacity: 0.7;">
        <b>{{this.rightQuality}}</b>
      </div>
    </div>

    <div class="img-comp img-comp-top">
      <div class="label-left">
        <b>{{this.leftQuality}}</b>
      </div>

      <img src="{{this.linkB}}">

    </div>

  </div>

  <div class="options">
    <h3>
      {{this.label}}
      <br> Is Quality {{this.leftQuality}} less realistic, the same or more
       realistic than Quality {{this.rightQuality}}?
    </h3>

    <div class="answer-wrap">
      <div class="label-wrap" style="text-align: right;">
        MUCH LESS REALISTC
      </div>

      <div class="radio-wrap">
        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="-3">
          <label for="{{this.name}}">-3</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="-2">
          <label for="{{this.name}}">-2</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="-1">
          <label for="{{this.name}}">-1</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="0" checked>
          <label for="{{this.name}}">0</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="5">
          <label for="{{this.name}}">1</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="6">
          <label for="{{this.name}}">2</label>
        </span>

        <span class="radio-line">
          <input type="radio" id="age1" name="{{this.name}}" value="7">
          <label for="{{this.name}}">3</label>
        </span>
      </div>

      <div class="label-wrap" style="text-align: left;">
        MUCH MORE REALISTC
      </div>

    </div>

  </div>
</div>