<div id="section-{{this.curSection}}" hidden>
  <h2>
    Part {{this.curSection}} of 6
  </h2>

  <p class="description">
    Scale: <br>
    <b>-3 • MUCH LESS REALISTC</b><br>
    <b>-2 • MODERATELY LESS REALISTC</b><br>
    <b>-1 • SLIGHTLY LESS REALISTC</b><br>
    <b>0 • THE SAME</b><br>
    <b>1 • SLIGHTLY MORE REALISTC</b><br>
    <b>2 • MODERATELY MORE REALISTIC</b><br>
    <b>3 • MUCH MORE REALISTIC</b><br>
    <br>
    Before you choose a rating, move the circular slider to either left or right to fully view each quality.<br>
    <b>The quality you have to judge is on the left.</b>
  </p>

  <div class="description" id="device" {{this.hideDevice}}>
    What device are you currently using?<br>
    <input type="radio" name="screen-type" value="smartphone" required>
    <label for="screen-type">Smartphone</label><br>

    <input type="radio" name="screen-type" value="laptop/desktop">
    <label for="screen-type">Laptop/Desktop</label><br>

    <input type="radio" name="screen-type" value="tablet">
    <label for="screen-type">Tablet</label><br>

    <input type="radio" name="screen-type" value="TV">
    <label for="screen-type">TV</label>
  </div>

  {{#each this.items}}
  {{> questionSlider}}
  {{/each}}

  <div style="text-align: center;">
    <span class="next-btn"
      onclick="goToSection('section-{{this.curSection}}', 'section-{{this.prevSection}}')">Back</span>

    {{#if submit}}
    <button>Submit</button>
    {{else}}
    <span class="next-btn"
      onclick="goToSection('section-{{this.curSection}}', 'section-{{this.nextSection}}')">Next</span>
    {{/if}}
  </div>
</div>