<div id="section-{{this.sectionName}}" {{this.hidden}}>
  <p class="description">
    This is the detailed scale: <br>
    <b>-3 • MUCH LESS REALISTC</b><br>
    <b>-2 • MODERATELY LESS REALISTC</b><br>
    <b>-1 • SLIGHTLY LESS REALISTC</b><br>
    <b>0 • THE SAME</b><br>
    <b>1 • SLIGHTLY MORE REALISTC</b><br>
    <b>2 • MODERATELY MORE REALISTIC</b><br>
    <b>3 • MUCH MORE REALISTIC</b><br>
    <br>
    Move the circular slider to either left or right to fully view each quality.<br>
    <b>The quality you have to judge is on the left side.</b>
  </p>

  <h2>
    Part {{this.sectionName}} of 6
  </h2>

  {{#each this.items}}
  {{> questionSlider}}
  {{/each}}

  <div style="text-align: center;">
    {{#if submit}}
    <button>Submit</button>
    {{else}}
    <span class="next-btn" onclick="goToSection({{this.nextSection}})">Next</span>
    {{/if}}
  </div>
</div>